
Cython==0.29.21
diagnostic-updater==1.9.7
Flask==1.1.2
gencpp==0.6.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.16
gennodejs==2.0.1
genpy==0.6.14
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.0
joint-state-publisher==1.12.15
MarkupSafe==1.1.1
message-filters==1.14.10
numpy==1.19.4
pandas==1.1.5
pkg-resources==0.0.0
python-dateutil==2.8.1
python-qt-binding==0.4.3
pytz==2020.5
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-py-common==0.4.2
scikit-learn==0.24.0
scipy==1.5.4
sensor-msgs==1.12.7
six==1.15.0
sklearn==0.0
smach==2.0.1
smclib==1.8.5
tf2-py==0.6.5
threadpoolctl==2.1.0
topic-tools==1.14.10
urdfdom-py==0.4.4
Werkzeug==1.0.1
xacro==1.13.9
