<!DOCTYPE html>
<html>
<div class="container" >
    <div class="row">
        <div class="col">
            <h1>Covid Severity Prediction</h1>
            <hr>

            <form action="/" method="POST">

                <div class="form-group">
                  <label>Gender</label>
                  <input type="number" class="form-control" id="Gender" name="Gender" placeholder="1-male,2-female">
                </div>
                <div class="form-group">
                    <label>Pneumonia</label>
                    <input type="number" class="form-control" id="Pneumonia" name="Pneumonia" placeholder="1-yes,2-no">
                </div>
                <div class="form-group">
                    <label>Age</label>
                    <input type="number" class="form-control" id="Age" name="Age" placeholder="Go crazy">
                </div>
                <div class="form-group">
                    <label>Pregnant</label>
                    <input type="number" class="form-control" id="Pregnant" name="Pregnant" placeholder="1-yes,2-no,97-Does not apply">
                </div>
                <div class="form-group">
                    <label>Diabetes</label>
                    <input type="number" class="form-control" id="Diabetes" name="Diabetes" placeholder="1-yes,2-no">
                </div>
                <div class="form-group">
                    <label>Asthma</label>
                    <input type="number" class="form-control" id="Asthma" name="Asthma" placeholder="1-yes,2-no">
                </div>
                <div class="form-group">
                    <label>Immunosuppression</label>
                    <input type="number" class="form-control" id="Immunosuppression" name="Immunosuppression" placeholder="1-yes,2-no">
                </div>
                <div class="form-group">
                    <label>Hypertension</label>
                    <input type="number" class="form-control" id="Hypertension" name="Hypertension" placeholder="1-yes,2-no">
                </div>
                <div class="form-group">
                    <label>Cardiovascular Disease</label>
                    <input type="number" class="form-control" id="Cardiovascular Disease" name="Cardiovascular Disease" placeholder="1-yes,2-no">
                </div>
                <div class="form-group">
                    <label>Obesity</label>
                    <input type="number" class="form-control" id="Obesity " name="Obesity " placeholder="1-yes,2-no">
                </div>
                <div class="form-group">
                    <label>Chronic Renal Insufficiency</label>
                    <input type="number" class="form-control" id="Chronic Renal Insufficiency" name="Chronic Renal Insufficiency" placeholder="1-yes,2-no">
                </div>
                <div class="form-group">
                    <label>Tobacco Use</label>
                    <input type="number" class="form-control" id="Tobacco Use" name="Tobacco Use" placeholder="1-yes,2-no">
                </div>
                <div class="form-group">
                    <label>Contact COVID</label>
                    <input type="number" class="form-control" id="Contact COVID" name="Contact COVID" placeholder="1-yes,2-no,99-Not sure">
                </div>
                
                
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="submit" formaction="/prediction">Predict</button>
        
              </form>

        </div>
    </div>
</div>
</html>